.header-background {
  background: #CCDB6C;
}


.header-container {
  display: grid;
  grid-template-columns: 2fr 2fr 0.3fr;
  grid-auto-rows: minmax(50px, auto);
  padding: 5px;
  padding-left: 10px;
}


.header-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.header-title-content {
  color: #000;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}


.header-items-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 25px;
}


.header-item-subscribe-button {
  background: #000;
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px;
}


.header-item-content {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}